.testing-page {
  width: 100%;
  height: 100%;
}

.testing-page__text {
  font-weight: bold;
  font-size: 2rem;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
