@media only screen and (max-width: 768px) {}

.chat-window {}

.chat-window__navbar {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;

  height: var(--chat-window-navbar-height);
}

.chat-window__redirect-link {}

.chat-window__main {}

.section {
  position: absolute;

  top: var(--chat-window-navbar-height);

  width: 100%;
  height: calc(
    100% - (
      var(--chat-window-input-height) + var(--chat-window-navbar-height)
    )
  );
}
