.sml-container {
  display: flex;

  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sml-header {
  /* sml-header */
}

.sml-main {
  height: 100%;

  overflow: auto;
}

.sml-footer {
  /* sml-footer */
}
