@font-face {
  font-family: var(--primary-font);
  unicode-range: U+00-FF;
  src:
    url('./Jost-Black.woff2') format('woff2'),
    url('./Jost-BlackItalic.woff2') format('woff2'),
    url('./Jost-Bold.woff2') format('woff2'),
    url('./Jost-BoldItalic.woff2') format('woff2'),
    url('./Jost-ExtraBold.woff2') format('woff2'),
    url('./Jost-ExtraBoldItalic.woff2') format('woff2'),
    url('./Jost-ExtraLight.woff2') format('woff2'),
    url('./Jost-ExtraLightItalic.woff2') format('woff2'),
    url('./Jost-Italic.woff2') format('woff2'),
    url('./Jost-Light.woff2') format('woff2'),
    url('./Jost-LightItalic.woff2') format('woff2'),
    url('./Jost-Medium.woff2') format('woff2'),
    url('./Jost-MediumItalic.woff2') format('woff2'),
    url('./Jost-Regular.woff2') format('woff2'),
    url('./Jost-SemiBold.woff2') format('woff2'),
    url('./Jost-SemiBoldItalic.woff2') format('woff2'),
    url('./Jost-Thin.woff2') format('woff2'),
    url('./Jost-ThinItalic.woff2') format('woff2');
}
