@media only screen and (max-width: 768px) {
  .hidden-chat-page-block-on-mobile {
    display: none;
  }
}

.chats-page {}

.chats-page__chats-navbar {
  height: 100%;
}

.chats-page__chat-header {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
}

.chats-page__chat-list {
  position: relative;

  top: 60px;

  width: 100%;

  height: calc(100% - 60px);
}

.chats-page__chat-window {}

/* hide info text if any chat is not selected  */
.chats-page__chat-window-info {
  display: none;
}
