@media only screen and (min-width: 768px) {
  .chats-page {
    display: flex;

    flex-direction: row;
  }

  /* need to replace this class on resize provider component latter */
  .chats-page__resizable-container {
    width: 500px;
    min-width: 98px;
    height: 100%;

    overflow: auto;
  }

  /* displaces block only on desktop version  */
  .chats-page__no-chat-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: burlywood;
  }

  .chats-page__no-chat-heading {
    margin: 0.6em;
  }
}
