.chats-section {
  width: 100%;
  height: 100%;

  /* flex: 1;
  overflow: auto; */
}

.sticky {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  width: 100%;
}

/* class from imported NavHeader component */
.nav-header {
  /* position: fixed;

  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;
}

.chat-list {
  margin-top: 60px;
  overflow: hidden; */
}
