.chat-card-grid {
  display: flex;

  align-items: center;

  width: 100%;
}

.chat-card-row {
  display: flex;

  width: 100%;
}

.chat-card-column {
  display: flex;

  flex-direction: column;

  width: 100%;
}

.text-ellipsis {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.space-between {
  justify-content: space-between;
}
