/* stylelint-disable selector-pseudo-element-no-unknown, selector-pseudo-class-no-unknown */

/* =============== overwritten styles for "el-scrollbar.css" =============== */
:deep .el-scrollbar__bar {
  --thumb-width: 6px;
}

:deep .el-scrollbar__thumb {
  background-color: rgba(144, 147, 153, 0.4);
}

:deep .el-scrollbar__thumb:hover {
  background-color: rgba(144, 147, 153, 0.6);
}

:deep .el-scrollbar__bar.is-vertical:hover {
  width: calc(var(--thumb-width) + 4px);
}

:deep .el-scrollbar__bar.is-horizontal:hover {
  height: calc(var(--thumb-width) + 4px);
}
/* ======================================================================= */
