@media only screen and (min-width: 768px) {
  .navbar-menu {
    min-width: 60px;
    max-width: 60px;
    height: 100%;

    /* background-color: blue; */
  }

  .navbar-menu__list {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
  }

  .navbar-menu__list > * {
    flex-basis: auto;
  }

  .navbar-menu__link {
    width: 100%;
  }

  .navbar-menu__item {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 20px; /* need to remove it later! */

    width: 100%;
  }
}
