.navbar-menu {
  --navbar-menu-size: 60px;

  background-color: #9c6beb;
}

.navbar-menu ul {
  margin-block-start: 0;
  margin-block-end: 0;

  list-style-type: none;

  padding-inline-start: 0;
}

.navbar-menu__list {}

.navbar-menu__link {
  outline: 2px solid red;
}

.navbar-menu__item {}
