.navbar-menu {
  --navbar-menu-size: 60px;

  background-color: #9c6beb;
}

.navbar-menu ul {
  margin-block-start: 0;
  margin-block-end: 0;

  list-style-type: none;

  padding-inline-start: 0;
}

.navbar-menu__list {}

.navbar-menu__link {
  outline: 2px solid red;
}

/* link is non clickable if link is active */
.navbar-menu__list > .router-link-active {
  pointer-events: none;

  cursor: default;

  /* need to remove it later */
  opacity: 0.4;
}

.navbar-menu__item {}
