.chat-window-input {
  display: flex;
  align-items: center;
  justify-content: content;

  width: 100%;
  height: var(--chat-window-input-height);

  padding: 0 12px;

  background-color: coral;
}

.chat-window-input input {
  width: 100%;
}
