:root {
  --White-Smoke: #f0f0f0; /* selection */

  --Azure: #0A84FF; /* default */
  --Bluetiful: #007CFA; /* hover */
  --Flickr-Blue: #266EF2; /* active/click */

  /* input colors */
  --Suva-Grey: #909090;
  --Charcoal: #4b4b4b;

  --error-color: #F22837; /* error */
}
