:root {
  --White-Smoke: #f0f0f0; /* selection */

  --Azure: #0A84FF; /* default */
  --Bluetiful: #266EF2; /* hover */
  --Flickr-Blue: #205BE5; /* active/click */

  /* input colors */
  --Suva-Grey: #909090;
  --Charcoal: #4b4b4b;

  --Rosso-Corsa: #D50000;
}