@media only screen and (max-width: 768px) {
  .hidden-navbar-menu-on-mobile {
    display: none;
  }
}

.my-page {
  display: flex;

  flex-direction: column;
}

.my-page__main {
  display: flex;

  order: 0;

  overflow: auto;
}

.my-page__menu {
  /* menu */
}
