@media only screen and (max-width: 768px) {
  .hidden-navbar-menu {
    display: none;
  }
}

.my-page {
  display: flex;

  flex-direction: column;

  height: 100%;
}

.my-page__main {
  flex: 1;
  overflow: auto;
}

.my-page__menu {}
