.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;

  width: 100%;

  background-color: #b19155;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  width: 100%;
}

.col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  width: 100%;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.space-between {
  justify-content: space-between;
}

/* ---------------------------------------------------------------- */

.contact {
  --avatar-margin-left: 10px;

  width: 100%;
  height: 80px;

  align-items: center;

  font-size: 16px;
  font-weight: 400;

  padding: 0 18px 0 12px;

  cursor: pointer;

  box-sizing: border-box;
}

.col .row:nth-child(2) {
  margin-top: 5px;
}

.contact + .contact { /* need to remove later! */
  margin-top: 20px;
}

.contact__avatar {
  --avatar-size: 60px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  width: var(--avatar-size);
  height: var(--avatar-size);
  min-width: var(--avatar-size);
  min-height: var(--avatar-size);

  border-radius: var(--avatar-size);

  background-color: aqua;
}

.contact__name {
  font-weight: 700;

  margin-left: var(--avatar-margin-left);
}

.contact__time-of-last-message {
  text-transform: uppercase;
}

.contact__message-container {
  margin-left: var(--avatar-margin-left);
}

.contact__sender-name {}

.contact__message {}

.contact__unread-message {
  --unread-message-size: 20px;

  height: var(--unread-message-size);
  line-height: var(--unread-message-size);

  font-weight: 500;

  padding: 0 6px;

  border-radius: var(--unread-message-size);

  background-color: tomato;

  margin-left: 6px;
}

.contact__unread-message span {
  max-width: 100%;

  padding: 0 6px;
}
